body{
	background-image: url('../Images/bk.png');
	font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
	width:960px;
	font-size: 75%;
	}


h1{
	font-family: 'Georgia', "Times", "Times New Roman", "serif";
	font-size: 1.75rem;

}

h2{
	color: #4aaaa5;	
	font-size: 1rem
}

h6{
	font-size:0.65rem;
	font-weight: 100;
}

input, textarea{
	width:100%;
}

#submit{
	width:auto;
}

.headline{
	background-color:  #ffffff;
	border: 1px dotted #cccccc;
	margin-top: 6px;
	height:60px;
	overflow:hidden;
	margin-bottom: 40px;
	

}
/*
.headline:after{
	content:"";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
*/

.navig{
	
	margin:5px;
	color:#cccccc;
	padding:0 1%;
	display:inline-block;
	
}

.form {
	color:#777777;
	font-size:14px;
	margin:0 auto;
}


.left{background-color: #ffffff;
	border: 1px dotted #cccccc;
	margin-left: 8%;
	display:inline-block;
	margin-bottom: 120px;
	float:left;
	padding:20px 20px 20px 20px;
	width: 550px;

}

.right{
	background-color: #ffffff;
	border: 1px dotted #cccccc;

	
	width:160px;
	margin-bottom: 120px;
	float:right;
	padding:20px 20px 20px 30px;
	
}

.myname{
	background-color: #4aaaa5;
	color:#ffffff;
	padding:20px;
	display: inline-block;
	margin-left: 8%;
	margin-top:0px;
	
}


.me{
	border-bottom: 2px dotted #cccccc;
	padding-bottom: 10px;
	color: #4aaaa5;
}

.logo{
	width:35px;
	height:35px;
	float:left;
	margin:5px;
}

.bottom{
	margin-top: 50px;
	clear:both;

}

.line{
	height:4px;
	background-color:#4aaaa5; 
}

.footer{
	background-color: #738C81;
	padding:6px;
	text-align: center;
	color:#cccccc;
}


#about{
	
	margin-left: 40%;
	border-right: 1px solid #cccccc;
	
}
#contact{
 border-left: 1px solid #cccccc;
}

#portfolio{
	
}

#submit{
	background-color: #4aaaa5; 
	padding:10px;
	color:#ffffff; 
	font-size:1.15rem;
	border:hidden; 
}


#img{
float:left;
width:200px;
height:200px;
margin-right:20px;

}

.input{
	color:#cccccc;
	margin:6px 0;

}

.box1{
	float:left;
	width:250px;
	height:187px;
	position:relative;

	
}
.box2{
	float:right;
	width:250px;
	height:187px;
	position:relative;

	
}

.box3{
	float:left;
	width:250px;
	height:187px;
	position:relative;
	margin-top: 60px;
}

.box4{
	float:right;
	width:250px;
	height:187px;
	position:relative;
	margin-top: 60px;
}

.box5{
	float:left;
	width:250px;
	height:187px;
	position:relative;
	margin-top: 60px;
}

.charac{
	background-color: #4aaaa5;
	text-align: center;
	position:absolute;
	bottom:8px;
	padding: 5px;
	color:#ffffff;
	width:240px;
	opacity: 0.8;

}


p{
	font-size: 1rem;
	color:#cccccc;
	line-height: 20px;
}

@media only screen and (min-width:769px) and (max-width: 980px){
	
	.headline{
		width: 100%;
	}

	.left {
		width: 40%;
	}

	.right{
		width:20%;
		margin-right: 10%;
	}

	#about{
		margin-left: 40%;
	}

	.box1, .box2, .box3, .box4, .box5 {
		width:100%;
		height:auto;
		float:left;
		margin-bottom: 5%;
		margin-top:0;
	}

	.charac{
		width:94%;
		padding:3%;
		bottom:5%;
	}

	img, #img{
		width:100%;
		height:auto;

	}

	#img{
		margin-bottom: 5%;
	}

}




@media only screen and (min-width:641px) and (max-width: 768px){
	
	.headline{
		width: 100%;
		margin-top:0;
	}
	.myname{
		margin-left:2%;
	}
	.left {
		width: 92%;
		margin-left:2%;
		padding: 2%,1%;
		margin-bottom: 2%;
	}

	.right{
		width: 91%;
		margin-left:2%;
		padding: 2%,1%;
		margin-bottom: 2%;
		float:left;
	}

	#about{
		margin-left: 40%;
	}

	.box1, .box2, .box3, .box4, .box5 {
		width:45%;
		height:auto;
		
		margin-bottom: 5%;
		margin-top:0;
	}

	.charac{
		width:94%;
		padding:3%;
		bottom:5%;
	}

	img{
		width:100%;
		height:auto;

	}

	#img{
		margin-bottom: 5%;
		width:40%
		height:auto;
	}

}



@media only screen and (max-width: 640px){
	
	.headline{
		width: 100%;
		position:static;
		height:auto;
	}

	
	.left {
		width: 92%;
		margin-left:2%;
		padding: 2%,1%;
		margin-bottom: 2%;
	}

	.right{
		width: 91%;
		margin-left:2%;
		padding: 2%,1%;
		margin-bottom: 2%;
		float:left;
	}


	#about, #portfolio, #contact{
		
		border: none;
		padding:5%;
	
	}

	
	.box1, .box2, .box3, .box4, .box5 {
		width:100%;
		height:auto;
		float:left;
		margin-bottom: 5%;
		margin-top:0;
	}

	.charac{
		width:94%;
		padding:3%;
		bottom:5%;
	}

	img, #img{
		width:100%;
		height:auto;

	}

	#img{
		margin-bottom: 5%;
	}

	p, .charac{
		font-size:24px;
		line-height: 1.5;
	}

	.myname{
		width:100%;
		text-align: center;
		margin:0;
		padding: 5%,0;
	}

	.section{
		overflow: hidden;
		
	}
	.one, .two , .three{
		width:33%;
		text-align: center;
		display:inline-block;

	}
}